/*** general ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    border: 1px solid grey;
    width: 100%;
}

.button {
    padding: 5px 10px;
}

/*** header ***/
header {
    background-image: url("assets/screenshot-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100px;
}

/*** fruit container ***/
.fruit-display {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fruit-counter {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.fruit-amount {
    margin: 0 15px;
}

/*** form ***/

.form {
    display: flex;
}

.form-details {
    display: flex;
    flex-direction: column;
}
